.top {
    position: absolute;
    width: 25px;
    bottom: 60px;
    right: 40px;
    @include media-breakpoint-down(md) {
        display: none;
    }
}
.scroll_icon {
    position: absolute;
    bottom: 40px;
    right: 40px;
    @include media-breakpoint-down(md) {
        display: none;
    }
}