.logo {
    z-index: 1;
    h1 {
        text-align: left;
    }
    a {
        background-image: url(../images/logo_s.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 80px;
        height: 18px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            opacity: 0.5;
            transition: all 0.5s;
        }
    }
}