.contact_bg_pattern_l {
    position: absolute;
    bottom: 330px;
    left: 80px;
    @include media-breakpoint-down (md) {
        display: none;
    }
}
.contact_bg_pattern_r {
    position: absolute;
    width: 250px;
    bottom: 100px;
    right: 100px;
    @include media-breakpoint-down (md) {
        right: -30px;
        bottom: 150px;
    }
}